doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  include @/ldview/index.pug
  head
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"},
      {name: "ldcover"},
      {name: "lddatetimepicker", version: "dev"},
      {name: "lddatetimepicker", version: "dev", path: "theme.min.css"}
    ])
    style(type="text/css"): :stylus
      .form-group
        position: absolute
        width: 250px
        top: 300px
        left: 350px
  body
    .ldcv.mini.bare(ld="ldcv-lddtp4"): .base: .inner.card: .card-body(ld="container-lddtp4")
    .ldcv(ld="ldcv-lddtp5"): .base: .inner.card: .card-body(ld="container-lddtp5")
    +nbr(10)
    .w-1024.rwd.mx-auto.my-4
      .border.rounded.mx-auto(style="position:relative;box-shadow:inset 0 2px 4px rgba(0,0,0,.1);width:600px;height:600px;overflow:scroll")
        .p-4(style="width:1000px;height:1000px;background:#f1f2f3")
          .form-group.mb-4(style="top:400px;left:350px")
            label Datetime #[span.text-sm lddtp1]
            input.form-control(ld="lddtp1")
          .form-group(style="top:500px")
            label Date #[span.text-sm lddtp2]
            input.form-control(ld="lddtp2")
          .form-group.mb-4(style="top:300px")
            label out-place #[span.text-sm lddtp3]
            input.form-control(ld="lddtp3")
          .form-group.mb-4(style="top:200px")
            label with ldcover #[span.text-sm lddtp4]
            input.form-control(ld="lddtp4")
          .form-group.mb-4(style="top:100px")
            label with ldcover (fixed) #[span.text-sm lddtp5]
            input.form-control(ld="lddtp5")
          .form-group.mb-4(style="top:200px;left:30px")
            label fixed #[span.text-sm lddtp6]
            input.form-control(ld="lddtp6")
    +nbr(100)
    +script([
      {name: "@loadingio/ldquery"},
      {name: "@loadingio/debounce.js"},
      {name: "ldview"},
      {name: "ldcover"},
      {name: "dayjs", path: "dayjs.min.js"},
      {name: "lddatetimepicker", version: "dev"}
    ])
    script(type="module"): include:lsc index.ls
